<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shopping.shoppingMall.dao.AttendanceDeviceMapper" >
  <resultMap id="BaseResultMap" type="com.shopping.shoppingMall.entity.AttendanceDevice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="device_version" property="deviceVersion" jdbcType="VARCHAR" />
    <result column="device_only_num" property="deviceOnlyNum" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="attendance_place" property="attendancePlace" jdbcType="VARCHAR" />
    <result column="install_place" property="installPlace" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, device_id, device_name, device_version, device_only_num, remark, attendance_place, 
    install_place, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from attendance_device
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from attendance_device
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shopping.shoppingMall.entity.AttendanceDevice" >
    insert into attendance_device (id, device_id, device_name, 
      device_version, device_only_num, remark, 
      attendance_place, install_place, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{deviceId,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, 
      #{deviceVersion,jdbcType=VARCHAR}, #{deviceOnlyNum,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{attendancePlace,jdbcType=VARCHAR}, #{installPlace,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shopping.shoppingMall.entity.AttendanceDevice" >
    insert into attendance_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="deviceName != null" >
        device_name,
      </if>
      <if test="deviceVersion != null" >
        device_version,
      </if>
      <if test="deviceOnlyNum != null" >
        device_only_num,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="attendancePlace != null" >
        attendance_place,
      </if>
      <if test="installPlace != null" >
        install_place,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceVersion != null" >
        #{deviceVersion,jdbcType=VARCHAR},
      </if>
      <if test="deviceOnlyNum != null" >
        #{deviceOnlyNum,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="attendancePlace != null" >
        #{attendancePlace,jdbcType=VARCHAR},
      </if>
      <if test="installPlace != null" >
        #{installPlace,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shopping.shoppingMall.entity.AttendanceDevice" >
    update attendance_device
    <set >
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceVersion != null" >
        device_version = #{deviceVersion,jdbcType=VARCHAR},
      </if>
      <if test="deviceOnlyNum != null" >
        device_only_num = #{deviceOnlyNum,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="attendancePlace != null" >
        attendance_place = #{attendancePlace,jdbcType=VARCHAR},
      </if>
      <if test="installPlace != null" >
        install_place = #{installPlace,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shopping.shoppingMall.entity.AttendanceDevice" >
    update attendance_device
    set device_id = #{deviceId,jdbcType=VARCHAR},
      device_name = #{deviceName,jdbcType=VARCHAR},
      device_version = #{deviceVersion,jdbcType=VARCHAR},
      device_only_num = #{deviceOnlyNum,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      attendance_place = #{attendancePlace,jdbcType=VARCHAR},
      install_place = #{installPlace,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findByDeviceId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from attendance_device
    where device_id = #{deviceId,jdbcType=INTEGER}
  </select>
  <select id="findList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from attendance_device
  </select>
</mapper>