<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyu.infolib.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.wyu.infolib.entity.UserInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="avatar_url" property="avatarUrl" jdbcType="VARCHAR" />
    <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="user_college" property="userCollege" jdbcType="VARCHAR" />
    <result column="user_id_card" property="userIdCard" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="authentication" property="authentication" jdbcType="INTEGER" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="reg_time" property="regTime" jdbcType="TIMESTAMP" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="SomeResultMap" type="com.wyu.infolib.entity.UserInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="avatar_url" property="avatarUrl" jdbcType="VARCHAR" />
    <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="user_college" property="userCollege" jdbcType="VARCHAR" />
    <result column="user_id_card" property="userIdCard" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, nickname, avatar_url, user_account, user_password, user_name, sex, user_college, 
    user_id_card, telephone, user_type, remarks, authentication, login_time, reg_time, 
    openid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wyu.infolib.entity.UserInfo" >
    insert into user_info (id, nickname, avatar_url, 
      user_account, user_password, user_name, 
      sex, user_college, user_id_card, 
      telephone, user_type, remarks, 
      authentication, login_time, reg_time, 
      openid)
    values (#{id,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{avatarUrl,jdbcType=VARCHAR}, 
      #{userAccount,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{userCollege,jdbcType=VARCHAR}, #{userIdCard,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, 
      #{authentication,jdbcType=INTEGER}, #{loginTime,jdbcType=TIMESTAMP}, #{regTime,jdbcType=TIMESTAMP}, 
      #{openid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wyu.infolib.entity.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="avatarUrl != null" >
        avatar_url,
      </if>
      <if test="userAccount != null" >
        user_account,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="userCollege != null" >
        user_college,
      </if>
      <if test="userIdCard != null" >
        user_id_card,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="authentication != null" >
        authentication,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
      <if test="regTime != null" >
        reg_time,
      </if>
      <if test="openid != null" >
        openid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null" >
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null" >
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="userCollege != null" >
        #{userCollege,jdbcType=VARCHAR},
      </if>
      <if test="userIdCard != null" >
        #{userIdCard,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="authentication != null" >
        #{authentication,jdbcType=INTEGER},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="regTime != null" >
        #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wyu.infolib.entity.UserInfo" >
    update user_info
    <set >
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null" >
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null" >
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="userCollege != null" >
        user_college = #{userCollege,jdbcType=VARCHAR},
      </if>
      <if test="userIdCard != null" >
        user_id_card = #{userIdCard,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="authentication != null" >
        authentication = #{authentication,jdbcType=INTEGER},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="regTime != null" >
        reg_time = #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wyu.infolib.entity.UserInfo" >
    update user_info
    set nickname = #{nickname,jdbcType=VARCHAR},
      avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      user_account = #{userAccount,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      user_college = #{userCollege,jdbcType=VARCHAR},
      user_id_card = #{userIdCard,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      authentication = #{authentication,jdbcType=INTEGER},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      reg_time = #{regTime,jdbcType=TIMESTAMP},
      openid = #{openid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findByAccount" parameterType="String" resultMap="SomeResultMap">
    select
    id, nickname, avatar_url, user_account, user_password, user_name, sex, user_college,
    user_id_card, telephone, openid
    from user_info
    where user_account = #{account,jdbcType=VARCHAR}
  </select>
  <select id="findByOpenid"  resultMap="BaseResultMap" parameterType="String">
    select
    <include refid="Base_Column_List" />
    from user_info
    where openid = #{openid,jdbcType=VARCHAR}
  </select>
  <select id="findByIdCard"  resultMap="BaseResultMap" parameterType="String">
    select
    <include refid="Base_Column_List" />
    from user_info
    where user_id_card = #{idCard,jdbcType=VARCHAR}
  </select>
  <select id="findListHasAccount" resultMap="BaseResultMap" parameterType="Integer">
    select
    <include refid="Base_Column_List" />
    from user_info
    <where>
      <if test="flag == 1">
        user_account is not null
      </if>
    </where>
    order by reg_time DESC
  </select>
</mapper>